--- Digital Assistant ---
- Features:
---=Emails=-----------------------------------------
-- Read emails
-- Delete emails
-- Draft emails
-- Send emails
---=Contacts=---------------------------------------
-- Check email contacts(?)
-- Add email contacts(?)
-- Delete email contacts(?)
---=Calendar=---------------------------------------
-- Check Calendar
-- Read Calendar Appointments
-- Edit Calendar Appointments
-- Add Calendar Appointments
-- Delete Calendar Appointments
-- Set Local-System Reminders for Appointments
---=SysClock/Alarm/Reminders=-----------------------
-- Read System Clock
-- Get Date, Time, Year
-- Check Reminders/Alarms
-- Edit Reminders/Alarms
-- Add/Delete Reminders/Alarms
---=StretchFeatures=--------------------------------
-- Access location data
-- Get local weather forecasts(?)
-- News Briefing(?)
-- Other(?)
---=NLP=--------------------------------------------
-- Digital Assistant Conversation Style
-- Queuery interpretation
-- Queuery response
